<div class="app-wrapper">
  
    <div class="center">
      <h2> Men's collection</h2>
     <div class="box1" routerLink="men1">
       <img src="assets/image/image-product-1.jpg" alt="">
       <h3> Fall limited Edition sneakers</h3>
     </div>
     <div class="box1" routerLink="men2">
       <img src="assets/image/m1.jpeg" alt="men2">
      <h3>  Yeezy 300 </h3>
    </div>
    <div class="box1" routerLink="men3">
      <img src="assets/image/mi1.jpeg" alt="men3">
      <h3> Jordans Air </h3>
    </div>
    </div>
  </div>

