<div class="app-wrapper">
  
    <div class="center">
        <h1> Our collection</h1>
        <a href="" routerLink="home/men">
      <h2 class="to2"> Men's collection</h2>
    </a>
    <div class="slide-frame">
        <div class="slide-image">
            <div class="img-con">
                <img src="assets/image/image-product-1.jpg" alt="">
            </div>
            <div class="img-con">
                <img src="assets/image/m1.jpeg" alt="">
            </div>
            <div class="img-con">
                <img src="assets/image/mi1.jpeg" alt="">
            </div>
        </div>
    </div>

    <a href="" routerLink="home/women">
        <h2 class="to1"> Women's collection</h2>
      </a>
      <div class="slide-frame">
        <div class="slide-image">
            <div class="img-con">
                <img src="assets/image/we1.jpg" alt="">
            </div>
            <div class="img-con">
                <img src="assets/image/we21.jpg" alt="">
            </div>
            <div class="img-con">
                <img src="assets/image/photo-1607792246387-4765c382c5a7.jpeg" alt="">
            </div>
        </div>
    </div>
     

    </div>
  </div>

