
.set{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    margin: 7px;
    img{
        width: 10px;
        height: 10px;
    }
    .bin{
        cursor: pointer;
    }
}
.det{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 14px;
    }
}
.line{
    display: flex;
    flex-direction: row;
    gap: 5px;
    p {
        font-size: 14px;
    }
    .bl {
        font-weight: 800;
    }
}

