<div class="app-wrapper">

  
    <div class="center">
      <h2> Women's collection</h2>
     <div class="box1" routerLink="women1">
       <img src="assets/image/we1.jpg" alt="women1">
       <h3> Original Stan Smith W Sneakers</h3>
     </div>
     <div class="box1" routerLink="women2">
       <img src="assets/image/we21.jpg" alt="women2">
      <h3> Original White Reem</h3>
    </div>
    <div class="box1" routerLink="women3">
      <img src="assets/image/photo-1607792246387-4765c382c5a7.jpeg" alt="women3">
      <h3> NIKE Reals</h3>
    </div>
    </div>
  </div>

